body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    width: 90%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

textarea {
    width: 97%;
    height: 100px;
    padding: 10px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    resize: none;
    text-align: center;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-group input[type=range] {
    width: 100%;
}

.form-check {
    margin-bottom: 10px;
}

.form-check-label {
    margin-left: 5px;
    color: #333;
}

.btn {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    border: none;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.btn-generate {
    background-color: #28a745;
    color: white;
}

.btn-generate:hover {
    background-color: #218838;
    color: #fff;
}

.btn-copy {
    background-color: #6c757d;
    color: white;
}

.btn-copy:hover {
    background-color: #5a6268;
    color: #fff;
}